[submodule "EIP712_EIP7702/lib/openzeppelin-contracts"]
	path = EIP712_EIP7702/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ZZNFTMarketV3/lib/openzeppelin-contracts"]
	path = ZZNFTMarketV3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "EIP712_EIP7702/lib/permit2"]
	path = EIP712_EIP7702/lib/permit2
	url = https://github.com/Uniswap/permit2
